# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# forge test --fork-url $FORK_URL ||forge test
# forge snapshot --mt ...
# forge inspect FundMe storageLayout